	/*
  	Flaticon icon font: Flaticon
  	Creation date: 20/03/2019 18:44
  	*/

	@font-face {
	    font-family: "Flaticon";
	    src: url("../fonts/Flaticon.eot");
	    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff2") format("woff2"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
	    font-weight: normal;
	    font-style: normal;
	}

	@media screen and (-webkit-min-device-pixel-ratio:0) {
	    @font-face {
	        font-family: "Flaticon";
	        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
	    }
	}

	[class^="flaticon-"]:before,
	[class*=" flaticon-"]:before,
	[class^="flaticon-"]:after,
	[class*=" flaticon-"]:after {
	    font-family: Flaticon;
	    font-style: normal;
	}

	.flaticon-spray:before {
	    content: "\f100";
	}

	.flaticon-water:before {
	    content: "\f101";
	}

	.flaticon-target:before {
	    content: "\f102";
	}

	.flaticon-house:before {
	    content: "\f103";
	}

	.flaticon-server:before {
	    content: "\f104";
	}

	.flaticon-quote:before {
	    content: "\f105";
	}

	.flaticon-worldwide:before {
	    content: "\f106";
	}

	.flaticon-quote-1:before {
	    content: "\f107";
	}

	.flaticon-travel:before {
	    content: "\f108";
	}

	.flaticon-head:before {
	    content: "\f109";
	}

	.flaticon-offer:before {
	    content: "\f10a";
	}

	.flaticon-right:before {
	    content: "\f10b";
	}

	.flaticon-menu:before {
	    content: "\f10c";
	}

	.flaticon-beach:before {
	    content: "\f10d";
	}

	.flaticon-shield:before {
	    content: "\f10e";
	}

	.flaticon-send:before {
	    content: "\f10f";
	}

	.flaticon-gps:before {
	    content: "\f110";
	}

	.flaticon-plane:before {
	    content: "\f111";
	}